body {
    padding:20px;
    display: flex;
    justify-content: center;
}



.grid-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
    border: 1px solid black;
    width: 8.5in;
    height: 11in;;
  }

  .row1 {
    display: grid;
    grid-template-rows: auto;
  }

  .column-1 {
    grid-template-columns: auto auto auto;
  }